<div class="sidebar">
    <div class="readme">
        <div class="wikitext">
            <p>
                <a href="/">Full index of entries</a>
            </p>
            <p>
                Subjects: {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}
                <a href="/tags/{{ $taxonomyname }}">{{ $taxonomyname }}</a>&nbsp; {{end}}
            </p>
            {{ with .Site.Params.github }}
            <p>Github:
                <a href="https://github.com/{{.}}">@{{.}}</a>
            </p>
            {{end}} {{ with .Site.Params.twitter }}
            <p>Twitter:
                <a href="https://twitter.com/{{.}}">@{{.}}</a>
            </p>
            {{end}}
            <p align="center">* * *</p>

            {{ if .Site.Params.quoteServer}}
            <p id="quoteP"></p>
            <script>

            function getJSON(url) {  //quick and dirty
              var script = document.createElement('script');
              script.setAttribute('src', url);
              script.setAttribute('type', 'text/javascript');
              document.getElementsByTagName('head')[0].appendChild(script);
            }

            function cbfunc(data1){   
                console.log(data1);
                var quoteP = document.getElementById("quoteP");
                quoteP.innerHTML="<em>“"+data1.text+"” - " + data1.name + "</em>";
            }
            getJSON("{{.Site.Params.quoteServer}}?callback=cbfunc")
            </script>
            {{end }}

            <div class="sidesearch" style="font-size: small">
                <form onsubmit="location.href='/search/?s=' + document.getElementById('myInput').value; return false;">
                    Search:
                    <input type="text" id="myInput" size=15 />
                </form>
            </div>
            <p>
                {{ range .Site.Params.navigation}}
                <a href="/{{.}}">{{. | title }}</a>&nbsp;&middot;&nbsp;{{end}}<a href="/index.xml">RSS feed</a>
            </p>
        </div>
    </div>
</div>