{{ partial "header.html" . }}

<div id="documentbody">
    <div class="wtblog">
        <div class="maintext">
            <div class="wikitext titlehack">
                {{.Site.Params.intro | safeHTML }}
                {{ range first 100000 .Pages }}
                {{ if eq .Type "post"}}
                <p>
                    {{ .Date.Format "January 2, 2006"}} - <a href="/{{ .Slug }}" style="color:black;">{{ .Title }}</a>{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>{{ end }}
                </p>
                {{ end }}
                {{ end }}
            </div>
            
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</div>
{{ partial "footer.html" . }}
